body {
	background-color: lightblue;
	color: #fff
}
div {
	font-size: 18px;
}
.first {
	border: 1px solid green;
	margin-bottom: 50px;
	padding: 20px;
}
.second {
	border: 1px solid red;
	margin-bottom: 50px;
	padding: 20px;
}
.third {
	border: 1px solid blue;
	padding: 20px;
}